@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>
@{
  ViewBag.Title = "Index";
}


<h2 style="text-align:center;">Index</h2>

<p>
  @Html.ActionLink("Create New", "Create")
</p>
<table id="Rental_History-Index--main-table" class="table table-light">
  <tr>
    <th id="Rental_History-Index--TopLeft"> <span id="Rental_History-Index--AbsTextPos">
      Most recent Rental Histories
      </span></th>
    <th class="Rental_History-Index--NoTop"></th>
    <th id="Rental_History-Index--NoTopAlign">Sorted by:</th>
    <th class="Rental_History-Index--NoTop" style="border-top: none;">
      <div class="dropdown">
        <button class="btn btn-light btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div id="changeSortName"> Select Sort </div>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" onclick="sortFun('default'); changeNXS();">No Extra Sorting</a>
          <a class="dropdown-item" onclick="sortFun('damage_rentals'); changeDR();">List Damaged Rentals</a>
          <a class="dropdown-item" onclick="sortFun('damage_rentals_desc'); changeUR();" >List Undamaged Rentals</a>
          <a class="dropdown-item" onclick="sortFun('alpha_rentals'); changeA();" >List Alphabetical</a>
          <a class="dropdown-item" onclick="sortFun('alpha_rentals_desc'); changeRA();">List Reverse Alphabetical</a>
        </div>
      </div>
    </th>
  </tr>
  <tbody id="checkBody">
  @Html.Partial("_IndexTable")
  </tbody>
  
</table>

<script>
  //this is the where ajax will talk with controllor
  
  function sortFun(sortOrder) {
    console.log("This hit");
    $.ajax({
      type: "POST",
      url: "@Url.Action("PartialTable")",
      data: {sortOrder : sortOrder},
      success: function (data) {
        document.getElementById("checkBody").innerHTML = data;
      }
    });
    console.log(sortOrder);
  }





  //change title
  function changeNXS() {
    document.getElementById("changeSortName").innerHTML = "No Extra Sorting";
    
  }
  function changeDR() {
    document.getElementById("changeSortName").innerHTML = "List Damaged Rentals";
  }
  function changeUR() {
    document.getElementById("changeSortName").innerHTML = "List Undamaged Rentals";
  }
  function changeA() {
    document.getElementById("changeSortName").innerHTML = "List Alphabetical";
  }
  function changeRA() {
    document.getElementById("changeSortName").innerHTML = "List Reverse Alphabetical";
  }

</script>